import {
  use<%- p.pascalName %>Create,
  use<%- p.pascalName %>Update,
  use<%- p.pascalName %>,
} from "@lib/<%- p.paramName %>/data/<%- p.camelName %>Hooks";
import { <%- p.pascalName %> } from "@prisma/client";

type Props = {
  id?: <%- p.pascalName %>["id"];
};

export const <%- p.pascalName %>Form = ({ id }: Props) => {
  const { data } = use<%- p.pascalName %>({ id: id || "" });
  const { mutate: create } = use<%- p.pascalName %>Create();
  const { mutate: update } = use<%- p.pascalName %>Update();

  const handleSubmit = async (e: React.FormEvent<HTMLFormElement>) => {
    e.preventDefault();
    const input = e.currentTarget.elements as Partial<<%- p.pascalName %>>;
    const action = data ? update : create;
    try {
      await action(input);
    } catch (error) {
      console.error(error);
    }
  };

  return (
    <form onSubmit={handleSubmit}>
      <% Object.values(props.attributes).forEach((attr) => { %>
        <input
          name="<%- attr.name %>"
          type="text"
          placeholder="<%- p.pascalName %> <%- attr.camelName %>"
          value={data?.<%- attr.camelName %> || ""}
        />
      <% }) %>
      <button type="submit">{data ? "update" : "create"}</button>
    </form>
  );
};

export default <%- p.pascalName %>Form;
